spring:
  port: 8080
  address: 0.0.0.0
  logging:
    level:
      root: info

  docker:
    compose:
      enabled: false
  mvc:
    servlet:
      encoding:
        charset: UTF-8
        enabled: true
        force: true
  jackson:
    time-zone: Asia/Seoul
  config:
    import: optional:file:.env
  datasource:
    #    url: ${URL}
    #    username: ${USERNAME}
    #    password: ${PASSWORD}
    url: jdbc:mysql://localhost:3306/toy
    username: root
    password: 53099035
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 1000

#  jwt:
#    #    secret: ${JWT_SECRET}
#    secret: asdfsadfasdfsadfasdfasdfsadfasdfsadfasdfasdfsadfasdfsadfasdfasdfsadfasdfsadfasdfasdfsadfasdfsadfasdf
#  data:
#    redis:
#      #host: redis-container
#      host: localhost
#      port: 6379
